@charset "UTF-8";

@font-face {
  font-family: "esriCTFontIcon";
  src:url("fonts/esriCTFontIcon.eot");
  src:url("fonts/esriCTFontIcon.eot?#iefix") format("embedded-opentype"),
    url("fonts/esriCTFontIcon.woff") format("woff"),
    url("fonts/esriCTFontIcon.ttf") format("truetype"),
    url("fonts/esriCTFontIcon.svg#esriCTFontIcon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "esriCTFontIcon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "esriCTFontIcon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\64";
}
.icon-close:before {
  content: "\61";
}
.icon-delete:before {
  content: "\62";
}
.icon-help-1:before {
  content: "\63";
}
.icon-help-2:before {
  content: "\65";
}
.icon-left-arrow:before {
  content: "\66";
}
.icon-list:before {
  content: "\67";
}
.icon-map:before {
  content: "\68";
}
.icon-pencil:before {
  content: "\69";
}
.icon-right-arrow:before {
  content: "\6a";
}
.icon-setting:before {
  content: "\6b";
}
.icon-user:before {
  content: "\6c";
}
