<div>
    <div class="esriCTListHeader esriCTBGColor esriCTHeaderBackgroundColorAsTextColor">
        <div tabindex="0" role="button" data-dojo-attach-point="backIcon" title="${i18n.gotoIssueListTooltip}" aria-label="${i18n.gotoIssueListTooltip}">
            <span aria-hidden="true" class="esriCTBackButton esriCTInvertFontIcons icon icon-left-arrow esriCTPointerCursor">
            </span>
            <span class="esriCTFallBackText">${i18n.gotoIssueListTooltip}</span>
        </div>
        <div tabindex="-1" data-dojo-attach-point="itemTitleDiv" class="esriCTHeaderText esriCTListHeaderText esriCTEllipsis esriCTDetailsHeader" data-toggle="tooltip" trigger="manual" data-placement="bottom">
        </div>
        <div class="esriCTHidden esriCTVotesDetails" data-dojo-attach-point="votesDetailContainer">
            <div class="esriCTItemVotes esriCTEllipsis" data-dojo-attach-point="itemVotesDiv"></div>
            <div class="esriCTIcon glyphicon glyphicon-heart esriCTDetailsFavDiv"></div>
        </div>
    </div>
    <div class="esriCTItemDetailsContainer esriCTCalculatedBodyBackgroundColor" data-dojo-attach-point="itemDetailsContainer">
        <div class="esriCTTtemDescription esriCTBodyBackgroundColor">
            <div class="esriCTDetailDescription esriCTSpaceBelow esriCTSmallText esriCTBodyBackgroundColor" data-dojo-attach-point="descriptionDiv"></div>
            <div tabindex="0" class="esriCTEditModePopupContainer esriCTBodyBackgroundColor" data-dojo-attach-point="popupDetailsDiv"></div>
            <div class="esriCTItemDescFooter esriCTSmallText esriCTBodyBackgroundColor" data-dojo-attach-point="actionButtonsContainer">
                <div class="esriCTDetailButtonContainer">
                    <button tabindex="0" type="button" class="btn btn-default esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor esriCTButtonTextColor esriCTButtonBackgroundColor" data-dojo-attach-point="likeButton" aria-label="${i18n.likeButtonTooltip}" title="${i18n.likeButtonTooltip}">
                        <span class="glyphicon glyphicon-heart esriCTMargin" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point="likeLabel">${i18n.likeButtonLabel}</span>
                    </button>
                </div>
                <div class="esriCTDetailButtonContainer">
                    <button tabindex="0" type="button" class="btn btn-default  esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor esriCTButtonTextColor esriCTButtonBackgroundColor" data-dojo-attach-point="commentButton" aria-label="${i18n.commentButtonTooltip}" title="${i18n.commentButtonTooltip}">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point="commentLabel">${i18n.commentButtonLabel}</span>
                    </button>
                </div>
                <div class="esriCTDetailButtonContainer esriCTMapItButtonVisibility">
                    <button tabindex="0" type="button" class="btn btn-default esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor esriCTButtonTextColor esriCTButtonBackgroundColor" data-dojo-attach-point="mapItButton" aria-label="${i18n.mapButtonTooltip}" title="${i18n.mapButtonTooltip}">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point="mapLabel">${i18n.mapButtonLabel}</span>
                    </button>
                </div>
                <div class="esriCTDetailButtonContainer">
                    <button tabindex="0" type="button" class="btn btn-default esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor esriCTFloatRight esriCTGalleryButton esriCTButtonTextColor esriCTButtonBackgroundColor" data-dojo-attach-point="galleryButton"  aria-label="${i18n.galleryButtonTooltip}" title="${i18n.galleryButtonTooltip}">
                        <span class="glyphicon glyphicon-picture esriCTMargin" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point="gallerylabel">${i18n.galleryButtonLabel}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="esriCTFloatLeft esriCTFullWidth esriCTDetailsPanel">
            <div class="esriCTAttachmentsSection esriCTDetailsData esriCTHidden esriCTFullWidth esriCTBodyTextColor esriCTBodyBackgroundColor esriCTFloatLeft" data-dojo-attach-point="gallery">
            </div>
            <div class="esriCTItemComments esriCTCalculatedBodyBackgroundColor">
                <div data-dojo-attach-point="headerMessageType" aria-label="${i18n.comment.commentSubmittedMessage}" class="esriCTHidden esriCTSuccessMsg alert alert-success">
                    <span class="close" data-dojo-attach-point="headerMessageButton">&times;</span>
                    <span tabindex="-1" data-dojo-attach-point="headerMessageContent">${i18n.comment.commentSubmittedMessage}</span>
                </div>
                <div tabindex="-1" class="esriCTItemComments esriCTHidden" data-dojo-attach-point="commentDetails"></div>
                <div class="esriCTHidden esriCTItemDetailHeader esriCTLargeText esriCTEllipsis esriCTCalculatedBodyTextColorAsBorder esriCTBodyTextColor" data-dojo-attach-point="commentsHeading"></div>
                <div class="esriCTSmallText esriCTDetailsNoResult esriCTHidden esriCTBodyTextColor" data-dojo-attach-point="noCommentsDiv"></div>
                <div class="esriCTSmallText esriCTCommentsList" data-dojo-attach-point="commentsList"></div>
            </div>
        </div>
    </div>
</div>
