<div class="esriCTFullHeight">
    <div class="esriCTListHeader esriCTBGColor esriCTHeaderTextColorAsBackground esriCTHeaderBackgroundColorAsTextColor">
        <div class="esriCTBackButton esriCTInvertFontIcons icon icon-left-arrow esriCTPointerCursor" data-dojo-attach-point="listBackButton"></div>
        <div data-dojo-attach-point="listContainerTitle" class="esriCTHeaderText esriCTListHeaderText esriCTEllipsis" data-toggle="tooltip"
                trigger="manual" data-placement="bottom">
        </div>
        <div class="esriCTListButtonContainer">
            <div class="esriCTMapItButton esriCTPointerCursor esriCTIssueWallMapItButton icon icon-map" data-dojo-attach-point="listMapItButton"></div>

            <div class="esriCTInfoLoader esriCTBGColor esriCTHidden esriCTLoaderPosition" data-dojo-attach-point="listLoadingIndicator">
                <div class="esriCTHeaderLoadingIndicator">
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="listContainer" class="esriCTIssueListContainer">
        <div data-dojo-attach-point="noIssuesMessage" class="esriCTHidden esriCTNoIssueDiv esriCTBodyTextColor esriCTCalculatedBodyTextColorAsBorder">
        </div>
    </div>
    <div class="esriCTReportButton esriCTPointerCursor" data-dojo-attach-point="submitReport">
        <div class="esriCTReportButtonContainer">
            <div class="esriCTReportButtonIcon"></div>
            <div data-dojo-attach-point="submitReportButton" class="esriCTReportButtonText"></div>
        </div>
    </div>
</div>
