<div>
    <div class="modal fade" id="helpModalWrapperContainer" tabindex="-1" role="dialog" aria-labelledby="helpModalWrapperLabel"
        aria-hidden="true">
        <div class="modal-dialog esriCTWarningDialog">
            <div class="modal-content esriCTBodyBackgroundColor">
                <div class="modal-header esriCTHeaderBackgroundColor">
                    <h4 class="modal-title esriCTHeaderTextColor">
                    </h4>
                    <div type="button" class="close esriCTClose" data-dismiss="modal" aria-label="Close">
                        <div aria-hidden="true" class="esriCTCloseHelpWindow esrictfonticons esrictfonticons-close-1 esriCTHeaderTextColor">
                        </div>
                    </div>
                </div>
                <div class="modal-body esriCTBodyBackgroundColor esriCTBodyTextColor">
                    <div class="esriCTModelBody">
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
