<div class="esriCTCommentsForm1 esriCTBodyTextColor esriCTCalculatedBodyBackgroundColor" data-dojo-attach-point="commentsForm">
    <div data-dojo-attach-point="enterCommentContainer" class="esriCTEnterComment">
        <div data-dojo-attach-point="headerMessageDiv" class="esriCTHidden">
            <div data-dojo-attach-point="headerMessageType" class="alert alert-danger">
                <span class="close" data-dojo-attach-point="headerMessageButton">&times;</span>
                <span tabindex="-1" aria-label="${i18n.comment.errorInSubmittingComment}" data-dojo-attach-point="headerMessageContent">${i18n.comment.errorInSubmittingComment}</span>
            </div>
        </div>
        <div class="esriCTCommentsFormTitle esriCTLargeText esriCTEllipsis" aria-label="${i18n.comment.commentsFormHeading}">${i18n.comment.commentsFormHeading}</div>
        <form role="form" tabindex="-1" data-dojo-attach-point="commentForm">
        </form>
    </div>
    <div data-dojo-attach-point="attachmentRootNode" class="esriCTAddCommentAttachmentsWrapperContainer" id="addCommentAttachmentsWrapperContainer">
    </div>
    <div tabindex="0" data-dojo-attach-point="countLabel" class="esriCTHidden esriCTCountLabel">
    </div>
    <div class="esriCTFullWidth esriCTCommentButtons">
        <div role="button" tabindex="0" data-dojo-attach-point="postCommentButton" class="btn btn-default esriCTEllipsis esriCTPostCommentButton esriCTBGColor">
        </div>
        <div role="button" tabindex="0" data-dojo-attach-point="cancelCommentButton" aria-label="${i18n.comment.commentsFormCancelButton}" title="${i18n.comment.commentsFormCancelButton}" class="btn btn-default esriCTEllipsis esriCTCancelCommentButton esriCTApplicationColor">
            ${i18n.comment.commentsFormCancelButton}
        </div>
    </div>
</div>
